<div class="main">
    <ngx-panel-header class="header">
        <div>{{ name }}</div>
    </ngx-panel-header>
    <ngx-panel-body>
        <div class="holder">
            <div class="title">Let me say something</div>
            <div class="statement">{{ statement }}</div>
        </div>
    </ngx-panel-body>
    <ngx-panel-footer class="footer">
        <div class="footer-bar">
            <button class="button" (click)="onClick()">Close me!</button>
        </div>
    </ngx-panel-footer>
</div>