@import './utils';

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: #{62.5% * (14px / 10px)} !important;
    line-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $black;
}