.app-root {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__body {
    height: 100%;
    padding: 30px;
  }
  &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 24px;
  }
  &__button {
    padding-top: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid green;
  }
  &__robot-list{
      border: 1px solid green;
      padding: 20px;
      width: 200px;
      display: flex;
      flex-direction: column;
  }
  &__robot{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  &__footer {
    height: 25px;
    background-color: green;
  }
}
