@import '../styles/utils';

:host {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.app-root {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__body {
    height: 100%;
    padding: 30px;
  }
  &__navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 60px;
    background-color: $blue;
    color: $white;
    font-size: 1.8rem;
  }
  &__button {
    padding-top: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: $white;
    border: 1px solid $blue;
  }
  &__robot-list {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  &__robot-name {
    font-size: 1.5rem;
  }
  &__robot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
  &__footer {
    height: 25px;
    background-color: $blue;
  }
  &__icon {
    width: 20px;
  }
  &__angular-logo {
    width: 48px;
    margin-right: 8px;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__list-title {
    font-size: 1.8rem;
    padding: 5px 20px;
    font-weight: bold;
  }
}
