* {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.holder {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    font-weight: bold;
    font-size: 20px;
    background: #E0FF4F;
}

.footer {
    background: #E0FF4F;
}

.footer-bar {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 20px;
    margin-bottom: 16px;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
}

.name {
    padding: 8px 0 32px;
    font-weight: bold;
    font-size: 20px;
}

.button {
    background: #26547C;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}

.power-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.power-title {
    margin-right: 8px;
}